---
import Layout from "../layouts/Layout.astro";
import ProductGallery from "../components/ProductGallery.astro";
import products from "../data/products.json";
import TopNav from "../components/TopNav.astro";

let diffusers = products.diffusers.map((product, index) => ({
  id: product.id,
  title: product.title,
  size: `${product.size}ml`,
  image: `/images/diffusers-${product.size}/${product.id}/${(index % 2) + 1}.jpg`,
  link: `/diffusers/${product.id}`,
  price: product.price,
}));
---

<Layout title="PAMALAM">
  <TopNav />
  <main class="relative pt-16">
    <div class="relative w-full">
      <img
        src={"/images/sections/diffuser-section.jpg"}
        class="w-full h-[30vh] object-cover"
      />

      <h1
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-5xl font-black uppercase text-yellow-500"
      >
        Diffusers
      </h1>
    </div>

    <ProductGallery products={diffusers} />
  </main>
</Layout>
