---
import TopNav from "../../../components/TopNav.astro";
import products from "../../../data/products.json";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  return products.diffusers.map((product) => ({
    params: { product: product.id },
  }));
}

const { product } = Astro.params;
const productData = products.diffusers.find((p) => p.id === product);

if (!productData) {
  throw new Error(`Product not found: ${product}`);
}

const images = [1, 2, 3].map(
  (i) => `/images/diffusers-100/${product}/${i}.jpg`
);
---

<Layout title={productData.title}>
  <TopNav />

  <main
    class="p-8 pt-32 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:max-w-7xl mx-auto"
  >
    <div class="flex flex-col gap-4">
      <img
        src={images[1]}
        alt={productData.title}
        class="w-full object-cover rounded-xl"
      />
    </div>
    <div
      class="flex flex-col gap-4 items-center md:items-start lg:items-start text-center md:text-left lg:text-left px-12"
    >
      <h1 class="text-4xl font-bold mb-4 uppercase">
        {productData.title}
      </h1>

      <p class="text-gray-900">{productData.description}</p>

      <div class="flex flex-col gap-2">
        <p class="text-gray-900">
          <b class="font-bold">Top Notes:</b>{" "}
          {productData.top_notes.join(", ")}
        </p>
        <p class="text-gray-900">
          <b class="font-bold">Middle Notes:</b>{" "}
          {productData.middle_notes.join(", ")}
        </p>
        <p class="text-gray-900">
          <b class="font-bold">Base Notes:</b>{" "}
          {productData.base_notes.join(", ")}
        </p>
      </div>

      <div class="flex flex-col gap-12 mt-4 text-sm">
        <div class="flex flex-col gap-2">
          <p class="text-gray-900">100ml Diffuser</p>
          <p class="text-gray-900">Amber glass bottle with black lid.</p>
          <p class="text-gray-900">Lasts approximately 3 months.</p>
          <p class="text-gray-900">Handmade in Ireland</p>
        </div>

        <p class="text-gray-900 text-xl font-bold">
          FREE SHIPPING in Ireland for orders over €60.
        </p>

        <a
          class="bg-yellow-500 text-white text-lg rounded-md order-now-button text-center cursor-pointer hover:bg-yellow-600 transition-all duration-300"
          data-shopify-id={productData.shopify_id}
        >
        </a>
      </div>
    </div>
  </main>
</Layout>
