---
interface Product {
  id: string;
  title: string;
  price: string;
  image: string;
  link: string;
}

interface Props {
  products: Product[];
}

let { products } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6"
>
  {
    products.map((product) => (
      <a
        class="flex flex-col items-center bg-white shadow-sm overflow-hidden rounded hover:shadow-xl transition-all duration-300 border border-transparent hover:border-yellow-500 cursor-pointer"
        href={product.link}
      >
        <img
          src={product.image}
          alt={product.title}
          class="w-full object-cover bg-gray-200"
        />
        <div class="p-4 flex flex-row items-center justify-between w-full">
          <h3 class="text-lg font-black  uppercase text-gray-900">
            {product.title}
          </h3>
          <p class="text-gray-700 text-lg ml-auto">{product.price}</p>
        </div>
      </a>
    ))
  }
</div>
